# McDonald's Card Data Analysis - v1
## April 2018
### Dr Jose M Albornoz

Investigation of missing tokens on 15th and 16th September 2016, where we have almost zero transactions.

# Import necessary modules

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')
%matplotlib inline

import numpy as np
import datetime


RANDOM_STATE = 19

# 1 Load raw data

In [12]:
df_p2 = pd.read_csv('McD_Card_Data/CT_201709_p2.csv', sep=';', header=None)

In [14]:
df_p2.tail()

           0   1           2     3     4  5                    6   7
6781151  626  24  2017/09/20  1822   669  S  4751448807894848202 NaN
6781152  626  22  2017/09/20  1821  1185  S  4751299188656548436 NaN
6781153  626  23  2017/09/20  1820   569  S  4547422071238730007 NaN
6781154  626  24  2017/09/20  1820  1406  S  4658582668264628221 NaN
6781155  626  20  2017/09/20  1819   608  S  4658585971792733117 NaN

In [15]:
df_p2.shape

(6781156, 8)

In [16]:
df_p2.dtypes

0      int64
1      int64
2     object
3      int64
4      int64
5     object
6     object
7    float64
dtype: object

In [49]:
labels = ['store_number', 'terminal_number', 'transaction_date', 'transaction_time', 'transaction_amount', \
 'card_scheme', 'pan_token', 'empty_field']

In [50]:
df_p2.columns = labels

## 1.1 Convert dates, filter for date range of interest

In [19]:
df_p2['transaction_date'] = pd.to_datetime(df_p2['transaction_date'])

In [40]:
mask = (df_p2['transaction_date'] >= datetime.date(2017,9,15)) & \
           (df_p2['transaction_date'] <= datetime.date(2017,9,16))

In [45]:
df1 = df_p2.loc[mask].sort_values(by=['transaction_date'])

In [46]:
df1.shape

(14631, 8)

In [47]:
df1.tail(100)

,store_number,terminal_number,transaction_date,transaction_time,transaction_amount,card_scheme,pan_token,empty_field
5541267,1074,20,2017-09-16,1329,298,S,92FFD26D5BAD404A17EF9498CCC480D4D60C2834DF051A...,NaN
5541266,1074,20,2017-09-16,1328,248,S,CD2C41291630DAF81AD4B4CC5BD53C848B76C4060C1E33...,NaN
5541265,1074,20,2017-09-16,1327,489,S,A13E069F8BB2DBCADAC86C8F871EE4E94DB246B983057E...,NaN
5541264,1074,20,2017-09-16,1326,479,S,83AB785D9FAC84227C62DEEC290284490BA000FE167CA2...,NaN
5541263,1074,20,2017-09-16,1326,307,S,C4D13EA89F85A639C239D1100A273CD86A75975C59EEEA...,NaN
5541262,1074,20,2017-09-16,1325,1975,S,6F2D6187261239A9F80FA17A3065802BFF48AE5872709B...,NaN
5541272,1074,20,2017-09-16,1333,1105,S,B38959317DCB96E130D49E1835887CDBC2B2E477BF7BB3...,NaN
5541261,1074,20,2017-09-16,1325,847,S,AD257047FBB78551CB8D5D02F7B3987295F4EBEB784FAE...,NaN
5541259,1074,20,2017-09-16,1324,578,S,B8DC87ACAD18063BD9F25404E447C19D6D40956D5EC817...,NaN
5541258,1074,20,2017-09-16,1324,935,S,82FB5F729E0F18B5011E530647C9FD708B40ABC01FE9CA...,NaN
5541257,1074,20,2017-09-16,1323,847,S,B2E0D7EA3038BC981685901E1B403F049273F5F8160FA3...,NaN
5541256,1074,20,2017-09-16,1322,1512,S,BF442DE782264898D7C481340A6EC55C7E9BF5AE293884...,NaN
5541255,1074,20,2017-09-16,1321,1087,S,5A8A83584060B1B091CEED9F2717D0BDA2A74E53BEE7D9...,NaN
5541254,1074,20,2017-09-16,1319,516,S,EAE7C66BDA836D72BBAD533180777C900EA997034AFF80...,NaN
5541253,1074,20,2017-09-16,1319,837,S,D13F997FEF6415A7DE0319A805B954369673EC2269BF72...,NaN
5541252,1074,20,2017-09-16,1318,1318,S,E74F18ED0F93A628900B6ECC1FCE059F2D6AAC89F6C89C...,NaN
5541251,1074,20,2017-09-16,1317,1415,S,CE1F7C2FFA390C07E2FD43C3517212DB9CE69A660D4E2A...,NaN
5541250,1074,20,2017-09-16,1316,1226,S,C71929FCEC38AFA6E986555B3A6D954B608430428961F3...,NaN
5541260,1074,20,2017-09-16,1324,608,S,BF4A94FD7EB5B458EF664D80EEC608E2E33B75CC6B9E82...,NaN
5541273,1074,20,2017-09-16,1335,1607,S,37F3101658018F5E288F9B67A58BF66392B812936BC126...,NaN
5541274,1074,20,2017-09-16,1335,387,S,29EB7A2BC98C811BCEF3DC44BB601DC9CF113453340F03...,NaN
5541275,1074,20,2017-09-16,1336,1125,S,D311198629E9BD806E56FF779E289970F099EB772ED666...,NaN
5541298,1074,20,2017-09-16,1354,1273,S,8FA941DD91D055F5D097A09D86749FB73E2A841E257C7F...,NaN
5541297,1074,20,2017-09-16,1353,1434,S,55464AD72915E7043A0ABD8E4D991D51EBC67BFB9BC322...,NaN
5541296,1074,20,2017-09-16,1352,1218,S,5614066938FCF11BDD2C76D3EF105F7416D1BF9A623244...,NaN
5541295,1074,20,2017-09-16,1352,728,S,9A999E680A9F8B6B5C4EE65E75DC0F087E9E8304E62EDA...,NaN
5541294,1074,20,2017-09-16,1351,1105,S,3B8C3B9C3F5CC0B1BF1132572A2A42673FA70C2F6D6AA6...,NaN
5541293,1074,20,2017-09-16,1350,1604,S,5BC9294BF3A5EB9D6BFFB27A6D8915D2110CDD1619F397...,NaN
5541292,1074,20,2017-09-16,1349,1491,S,5C030C5572EF1CB8574BF65602EE24AE80A25BBFB652BB...,NaN
5541291,1074,20,2017-09-16,1348,777,S,08EFF2046C9D8ECBE53FBE523E50AD21DA0C257ACCC86E...,NaN
...,...,...,...,...,...,...,...,...
5487190,965,20,2017-09-16,2353,362,S,1A42477B11D5C22D9A8250B34E842B00043182B10E53DC...,NaN
5494855,952,20,2017-09-16,2230,557,S,C279F345AE3762650B5BD2E969C9707DBBBECAADAD2E3D...,NaN
5494868,952,20,2017-09-16,2348,743,S,35BE4C777C5C96A14AD652D82285BB2F53446ECBDCE72C...,NaN
5494869,952,20,2017-09-16,2356,921,S,51DF668C3CB99F46A2753591B72F8987C8DE4BCAC87C23...,NaN
5509021,930,2,2017-09-16,2341,618,S,A4EEBC6149272A24703B40E38EFBFD0DDACBD6DE090A72...,NaN
5541245,1074,20,2017-09-16,1312,958,S,80CCA905DEBCAA2C34367B040189701759861376024199...,NaN
5541244,1074,20,2017-09-16,1310,1317,S,6CA8E6861D4D5438BB2D5E7707E2F37B6576C2DDE11B11...,NaN
5541243,1074,20,2017-09-16,1310,648,S,8487AF1BFCD3A480B079DEFF892C234773D8093B010787...,NaN
5541242,1074,20,2017-09-16,1310,818,S,2CE5DB61C818FCE132B9211B5FBD2EF4D3D90B2FA644E2...,NaN
5541241,1074,20,2017-09-16,1309,1817,S,A98CFF214D70D83633B56B05B269C6529FD66D632E6443...,NaN
5541240,1074,20,2017-09-16,1308,1676,S,B0D1951A2B19C7ECA46B4812CFE4A1CBC1AE3A1E8DB96B...,NaN
5541239,1074,20,2017-09-16,1306,2351,S,991C72AE3EC7B4BB069484BBB9854DACA80C717C1B6547...,NaN
5541238,1074,20,2017-09-16,1306,2262,S,7BADE2123D35ED48D3D2CDD9EFDA8F7453F085E584F6F5...,NaN
5541237,1074,20,2017-09-16,1305,1458,S,42E711249D11FB1A043141E5D9409E58A8087574F79FEF...,NaN
5541236,1074,20,2017-09-16,1305,1257,S,581811DEA1D018BFCE63EF96849A75AC5D3E559E82BA6E...,NaN
5541235,1074,20,2017-09-16,1304,387,S,6B8A527167DAB7809AAC6A5EADEFB41C366EEE54225222...,NaN
5541234,1074,20,2017-09-16,1304,1046,S,E63D4CDCDFE20CAF237862F52CB3B1B18AE07B433720DA...,NaN
5541233,1074,20,2017-09-16,1301,997,S,9B9F2BC3F4E4DD0BA26648A8BE8C631A3696BBE61F1587...,NaN
5541232,1074,20,2017-09-16,1301,987,S,1D21FA8160584FDBA252B0B06D922CEBD5E3F0C2B61263...,NaN
5541231,1074,20,2017-09-16,1300,1276,S,406681C303EA6909BA50D586AB24A668AADFD8A1B40D61...,NaN
5541230,1074,20,2017-09-16,1259,299,S,0C63D7BA31E4E80FE9E92DA58CDFE838AA57B81513D3A4...,NaN
5541229,1074,20,2017-09-16,1258,2215,S,FAA9EF3272BDBC3FB1068BC9EF39F9A38165DFAE5D7953...,NaN
5541228,1074,20,2017-09-16,1257,318,S,BEC99D0FA61713239204C1834E69BA3E50FCC0FCF41102...,NaN
5541227,1074,20,2017-09-16,1253,1338,S,D9646506BC63B3507FFF9C814A0C70EDF7697601892BFB...,NaN
5541226,1074,20,2017-09-16,1252,1555,S,46F3B333297E784D3B4C5AF8C31AC6674908670ABEB251...,NaN
5541225,1074,20,2017-09-16,1252,1467,S,3CE5EFCD23D0AE51ADC2F1034DD0BA0E545B417E82B252...,NaN
5509024,930,2,2017-09-16,2359,995,S,5CBC124E2D63D6771C444C074D47E69C8C6AFCCF8B75DA...,NaN
5509023,930,20,2017-09-16,2358,668,S,EC670A34A8B72F85A65231C8D3346C59105F6D15471AFD...,NaN
5541247,1074,20,2017-09-16,1313,818,S,F66ED77B817FEE74B54C4546E240E4FF297BB8436A4EDA...,NaN
4894995,508,22,2017-09-16,2307,1015,S,2F83CC350F4FE6BC69AEA6C302F6CAC4637C6A5DBC095D...,NaN

# 2 - Load Toshiba data for September 2017

In [54]:
df_Sep2017T = pd.read_csv('McD_Card_Data/Sep2017_T.csv/part-00000-04bd0c7a-a5a6-4711-8992-b3ba4cc1de77-c000.csv')

In [55]:
df_Sep2017T.head()

,store_number,terminal_number,transaction_date,transaction_time,transaction_amount,card_scheme,pan_token,empty_field
0,262,3,2017/09/01,0,437,S,D08D751E07A1775D5E4923655B97F6270FE414B7B554E9...,NaN
1,262,24,2017/09/01,2,319,S,D943C4129260645C5C886E66FFE781692638F1D772CBB0...,NaN
2,262,23,2017/09/01,3,396,S,0F07B1D413871FD689B63BAEC6D6857DF2D1B8792389C8...,NaN
3,262,22,2017/09/01,3,579,S,528D75D2EE6F7232976DD5CBE8227EB1DAADB3A14CAAF0...,NaN
4,262,21,2017/09/01,3,99,S,E9216F9D775D8540D08435890ED5DA507122124FD3E0B8...,NaN

In [56]:
df_Sep2017T.shape

(27048022, 8)

In [57]:
df_Sep2017T.dtypes

store_number            int64
terminal_number         int64
transaction_date       object
transaction_time        int64
transaction_amount      int64
card_scheme            object
pan_token              object
empty_field           float64
dtype: object

## 2.1 Convert dates, filter for date range of interest

In [58]:
df_Sep2017T['transaction_date'] = pd.to_datetime(df_Sep2017T['transaction_date'])

In [59]:
mask = (df_Sep2017T['transaction_date'] >= datetime.date(2017,9,15)) & \
           (df_Sep2017T['transaction_date'] <= datetime.date(2017,9,16))

In [60]:
df2 = df_Sep2017T.loc[mask].sort_values(by=['transaction_date'])

In [61]:
df2.shape

(11498, 8)

In [62]:
df2.head(100)

,store_number,terminal_number,transaction_date,transaction_time,transaction_amount,card_scheme,pan_token,empty_field
12053794,151,31,2017-09-15,0,109,S,B62A0DB381C21AD85673A6F6C282984F8494695B118793...,NaN
12961372,379,26,2017-09-15,111,1337,S,ED982EA786CFD77E21E6A799F027542C661BACFB716C64...,NaN
12961371,379,1,2017-09-15,110,308,S,743A36FB9E5F8EB4C197C7CE8CCA2FAA6C9A9FDC982EC9...,NaN
12961370,379,22,2017-09-15,110,248,S,BF3995ED2AE90734533B02BB87D459F98BAA11DAF17460...,NaN
12961369,379,21,2017-09-15,110,149,S,638EF57D534C52887D06FE4BCA15890ECC76DEBB72586C...,NaN
12961368,379,1,2017-09-15,110,958,S,9F204B54B860432BD19B20D0A95FE31BE210FCAB4FC1DD...,NaN
12961367,379,24,2017-09-15,110,298,S,49AFC566F93DD1A7AAE77CE17C8225B498279140E953DC...,NaN
12961366,379,1,2017-09-15,108,578,S,C467713B8F11E8A78E4176E01A837FA14E8090DE39165A...,NaN
12961365,379,28,2017-09-15,108,409,S,DBBA553DC25008CAE306272BC032AD00D46E6A97D2B72C...,NaN
12961364,379,22,2017-09-15,108,499,S,1944D5F3D5BBED45AA7306A4D1D338F6F579C0603123AB...,NaN
12961363,379,1,2017-09-15,107,848,S,3E4CB0ACD1552E58CB97595637B9A7343FF38D4E626132...,NaN
12961362,379,26,2017-09-15,107,888,S,375F7F14925227DF11AA9897B54FC602517D0C62FD1348...,NaN
12961361,379,24,2017-09-15,107,988,S,D9ED6E5892F11B06D7318E35E1D2FD9861D86C1EE6C82D...,NaN
12961373,379,28,2017-09-15,111,657,S,E251BE2F0EF6977D03E64474EF05E0029CE29E5F17AEA2...,NaN
12961360,379,24,2017-09-15,104,996,S,AA83CCA1BED0E77FA8ED07BF0C8F245D6A4AA561D15C9B...,NaN
12961358,379,26,2017-09-15,103,679,S,8C48C2BE778A8F71E38A9E29944971435E68D485FE3BFE...,NaN
12961357,379,24,2017-09-15,101,648,S,DC89D0CCD26CD01B7DD90DBC10119F57DCE1D01BFC64D9...,NaN
12961356,379,1,2017-09-15,100,99,S,945CC75B1A6FD7A5ACE05F40BC356FD083A07C9FF1BE3E...,NaN
12961355,379,1,2017-09-15,57,1065,S,389A8073264FF2C79B033D90510410585A2A9CE856E1A6...,NaN
12961354,379,1,2017-09-15,56,48,S,E4809AB75C4FF46CD87D7CE9A09DFA397F975B18BC5281...,NaN
12961353,379,1,2017-09-15,52,619,S,4344BDD7FBE6E56CB9F8A9384F636AEC96D505C946440D...,NaN
12961352,379,1,2017-09-15,49,539,S,0C3DA5D55DC159F4BDC3438B8F8BBCFDBED36FE92DC97E...,NaN
12961351,379,24,2017-09-15,48,418,S,8643C778639519ED53A391B4084B3B6E9FBF55ABBE5BA0...,NaN
12961350,379,28,2017-09-15,47,337,S,808C70EF24E9C7FC8899032D80FEAF712BA4CC596BC1B9...,NaN
12961349,379,22,2017-09-15,47,319,S,29F07BBB2900F38E17698DF61FD7BEDE3EEA0EE35E6C9D...,NaN
12961348,379,1,2017-09-15,46,876,S,09E9B5D836A442F10DBF12CF0B723D2B0160D454D53EFF...,NaN
12961347,379,26,2017-09-15,43,1315,S,E6DAA585C5FC004AB533E4D495E7798847083078338ADD...,NaN
12961359,379,22,2017-09-15,103,519,S,6DF818424DD6E420C21D414109F5A358CCE9EA20A9324A...,NaN
12961374,379,1,2017-09-15,111,387,S,47A5D1C74C12A305E214C1D4742C853F47394BC9E1B8CB...,NaN
12961375,379,27,2017-09-15,111,668,S,6E359E5DD105C59CEC14AAF412A231DF5F81C968E2383B...,NaN
...,...,...,...,...,...,...,...,...
12952355,379,24,2017-09-15,5,596,S,5E73D04693C055CE0B839144EC65CD3414364419501F13...,NaN
12952354,379,22,2017-09-15,5,498,S,A14E1F490ED2767AE8EE615B9F0B3205A8287835667D9F...,NaN
12952353,379,26,2017-09-15,4,238,S,B7BFE8F6F0C323983C12A7791813E3C928F9F856D3CC66...,NaN
12952352,379,28,2017-09-15,1,478,S,09819F44AE89D63C0583F4BEF70DE11AD2FBCAD55BE9B7...,NaN
12954574,176,28,2017-09-15,3,599,S,12CCF9D0BB85E686AE219EA85CF085F04FE0F5B82E004E...,NaN
12952351,379,24,2017-09-15,0,396,S,FE3BFC95E5C8070567595878113DEA977B5DA28401F923...,NaN
12950375,329,1,2017-09-15,6,539,S,05BB22196E727EFF78C4F480FC640123773B8FE1252B5F...,NaN
12950374,329,21,2017-09-15,5,598,S,7E4476A7240EA3B6788ECFECD232ACFEC56ABCC06D9080...,NaN
12950373,329,23,2017-09-15,4,427,S,267B4E6A4F3FC5FCBDAA1ED9B1A08668A361B40298345E...,NaN
12950372,329,22,2017-09-15,4,768,S,3C68C8C49E2CCE6EFCB69792D32C773982AC03EE43544C...,NaN
12950371,329,21,2017-09-15,4,99,S,5E9E05F016E64DE0E38D346B907F098DC833E01511343A...,NaN
12948161,262,3,2017-09-15,206,459,S,265CA7B118A63BF3AF234E00851E57DE66A4F608E3D4D1...,NaN
12948160,262,3,2017-09-15,206,517,S,5D73F7629A225B74DCFAAD7155D0568AA3F4AF30E2B104...,NaN
12948159,262,3,2017-09-15,203,656,S,EBEF387CB7FBDA59767F1AB2D58660D43D1AF9B4104833...,NaN
12948158,262,24,2017-09-15,201,218,S,546911BA2A31F47786F41EE36BA2ECE8FE776AA1747D80...,NaN
12948157,262,22,2017-09-15,201,698,S,3289350C933F36F3087961B552A9AB6066718119E676EF...,NaN
12948156,262,3,2017-09-15,200,208,S,259D2E4419942585C865A94B6709887B067FC77E0DEFEB...,NaN
12948155,262,22,2017-09-15,156,777,S,C9B32C7EDB7814E7DD1D048AC5DCE052B50CFF2B899878...,NaN
12950376,329,1,2017-09-15,7,648,S,A7A18222DF0858928E99A35057983031C84DF09CD4B317...,NaN
12954575,176,27,2017-09-15,4,767,S,6074D2DF231A6500330F8BD3026CC3C6B25C4AAC41A45D...,NaN
12954576,176,26,2017-09-15,4,1005,S,A06701AF70B1DA1B774775505FC2BC26B18E8F2610C2D7...,NaN
12955558,214,21,2017-09-15,2,1156,S,8EE3E066D3BB4FCB6D4F68D5D1334E62F2148D0603E350...,NaN
12961342,379,1,2017-09-15,35,539,S,2AB55F35F9A7E58DAA982A40C4AF6CF9F82FE1DEA0EDC3...,NaN
12961341,379,26,2017-09-15,33,499,S,2BA5CB1CC330CA008AAC860FDD20ED21388CB3FB5B1BF5...,NaN
12961340,379,1,2017-09-15,32,539,S,7FE0B8C9B6BC82D64B5D507FF001E72F73CF2EBF79B6F5...,NaN
12961339,379,24,2017-09-15,31,818,S,8F5300E473B2F149532CE0722F7A01A8A84601E5D7737D...,NaN
12961338,379,1,2017-09-15,29,258,S,02C9714BB413CDE393AA2544665F9A7FF03CD3B4C8F5A0...,NaN
12961337,379,1,2017-09-15,28,605,S,471CCEB82599AB4AD2955F65CD79B12E6DE155841BDB61...,NaN
12961336,379,24,2017-09-15,27,668,S,5DE382E6BD0EAE4C2DEF3C6FC776AE8E8298EC105C31CF...,NaN
12961335,379,28,2017-09-15,27,479,S,DCB1BED3D0282AC83FE587CE394183645502993B1FBC39...,NaN

# 3 - Group raw data by transaction date and perform count of transactions

In [63]:
mask = (df_p2['transaction_date'] >= datetime.date(2017,9,10)) & \
           (df_p2['transaction_date'] <= datetime.date(2017,9,20))

In [ ]:
df3 = df_p2.loc[mask].sort_values(by=['transaction_date'])

In [ ]:
df3 = df_ps.